<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="main-login">
  <h1>Login</h1>
  <form th:action="@{/login}" method="post">
    <div class="row">
      <div class="title">User name</div>
      <div class = "input">
        <input type="text"  name="username">
      </div>
    </div>
    <div class="row">
      <div class="title">Password</div>
      <div class = "input">
        <input type="text"  name="password">
      </div>
    </div>
    <div class="button">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>

</body>
</html>